h1 {
    line-height: 1.8;
    border-bottom: 1px solid #eee;
}

#avt-nav {
    margin-top: 4rem;
}

#phone-container {
	position: relative;
	background: #fff;
	overflow: auto;
}
.demo-container {
	margin: 0 .9375rem;
}
.demo-container:after {
	content: " ";
	display: table;
	clear: both;
}
.demo-container .mui-btn {
	float: left;
	margin-right: .5rem;
	margin-bottom: .5rem;
}