<div class="sys-layout-logo">
    <a href="/index.html"><img src="img/logo.png" height="30%" /></a>
    <h1 class="text-hide">蓝莓会｜专业营销解决方案</h1>
</div>
<div class="sys-layout-link">
    <ul id="menu" class="nav nav-pills">
        <li <% if(active == "index") {%>class="active"<%}%>><a href="/index.html">首页</a></li>
        <li <% if(active == "about") {%>class="active"<%}%>><a href="about.html">关于我们</a></li>
        <li><a href="/index.html#page3">蓝莓服务</a></li>
        <li <% if(active == "news") {%>class="active"<%}%>><a href="news-list.html">蓝莓动态</a></li>
        <li><a href="/index.html#page7">联系我们</a></li>
    </ul>
</div>
