<li class="list-item">
    <a href="<%= url %>">
        <div class="media-left">
            <div class="mask"></div>
            <div class="media-object">
                <img src="http://<%= imgurl %>" alt="<%= title %>">
            </div>
        </div>
        <div class="media-body">
            <div class="media-heading-container">
                <h3 class="media-heading"><%= title %></h3>
                <span class="publish-date">2015.12.20</span>
            </div>
            <p><%= brief %></p>
        </div>
        <div class="mask-content">
            <h3 class="media-heading"><%= title %></h3>
        </div>
    </a>
</li>
