<a class="col-sm-4 col-xs-4" href="<%= url %>">
    <div class="media">
        <div class="media-body">
            <div class="img-container">
                <span class="tag"><%= typename %></span>
                <img src="http://<%= imgurl %>" />
            </div>
            <div class="mask"></div>
            <div class="new-content">
                <h3 class="media-heading"><%= title %></h3>
                <span class="publish-date">2015.12.20</span>
                <p><%= brief %></p>
            </div>
            <div class="mask-content">
                <p class="from"><%= typename %></p>
                <h3 class="media-heading"><%= title %></h3>
            </div>
        </div>
    </div>
</a>
